DatabaseConsoleApplication/DatabaseConsoleApplication/WCFServiceTestProject/Service References/WCFServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50218/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50218/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50218/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFBookService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSearchedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchedBooks" />
  </wsdl:message>
  <wsdl:message name="IService_GetSearchedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBooks" />
  </wsdl:message>
  <wsdl:message name="IService_InsertBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBooks" message="tns:IService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBooksResponse" message="tns:IService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSearchedBooks" message="tns:IService_GetSearchedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSearchedBooksResponse" message="tns:IService_GetSearchedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertBooks" message="tns:IService_InsertBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertBooksResponse" message="tns:IService_InsertBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAP" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchedBooks">
      <soap:operation soapAction="http://tempuri.org/IService/GetSearchedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBooks">
      <soap:operation soapAction="http://tempuri.org/IService/InsertBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap:address location="http://localhost:50218/Service.svc/soapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>